{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<main id="main_login">

    <div id="login_div" class="d-flex justify-content-center align-items-center min-vh-100 text-center">
        <form action="/changepassword" method="POST" class=" rounded shadow login_form contaent-center {% if error %}is-invalid{% endif %}">
            <div class= "text-center mb-5">
                <h2 class="login_text">Change password</h2>
            </div>
            <div class="mb-4">
                <input autofocus autocomplete="off"  class="input_login" name="password" placeholder="New password" value="{{ request.form.get('password', '') }}"  type="password" required>
            </div>
            <div class="mb-4">
                <input autocomplete="off" class="input_login" name="c_password" placeholder="Confirm password" value="{{ request.form.get('c_password', '') }}" type="password" required >
            </div>
                    {% if error %}
                        <div class="invalid-feedback d-block text-cente">
                    <h5>!! {{ error }} !!</h5>
                        </div>
                    {% endif %}
            <button class="button_login" type="submit">Submit</button>
        </form>
    </div>
</main>
{% endblock %}
