{% extends "layout.html" %}


{% block title %}
    Forgot password
{% endblock %}


{% block style %}
<link href="/static/hide_header.css" rel="stylesheet">
{% endblock %}



{% block main %}

<main id="main_login">
    <div id="login_div" class="d-flex justify-content-center align-items-center min-vh-100 text-center">
        <form action="/forgotpassword" method="POST" class=" rounded shadow login_form contaent-center {% if error %}is-invalid{% endif %}">
            <div class= "text-center mb-5">
                <?xml version="1.0" ?><svg width="100px" height="100px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#f9be0ceb;}</style></defs><title/><g data-name="Layer 57" id="Layer_57"><path class="cls-1" d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z"/><path class="cls-1" d="M16,24a2,2,0,1,1,2-2A2,2,0,0,1,16,24Zm0-2Z"/><path class="cls-1" d="M16,18a1,1,0,0,1-1-1V8a1,1,0,0,1,2,0v9A1,1,0,0,1,16,18Z"/></g></svg>
                <h1 class="login_text">FORGOT PASSWORD</h1>
            </div>
            <div>
                <div class="quetions_register">
                   • E-mail :
                </div>
                <input class="input_login" name="email" placeholder="Enter your email address" value="{{ request.form.get('email', '') }}" type="email" required >
            </div>
            <div class="quetions_register">
                • What city were you born in?
            </div>
            <div>
                <input class="input_login" name="city" placeholder="Enter city/town/village name" value="{{ request.form.get('city', '') }}" type="text" required >
            </div>
            <div class="quetions_register">
                • What was your first pet's name?
            </div>
            <div class="mb-4">
                <input class="input_login" name="pet" placeholder="Enter name" value="{{ request.form.get('pet', '') }}" type="text" required >
            </div>
            <div class="mb-4">
                <label>Birthdate :</label>
                <input class="input_bithdate" name="birthdate" value="{{ request.form.get('birthdate', '') }}" type="date" required >
            </div>


                    {% if error %}
                        <div class="invalid-feedback d-block text-cente">
                    <h5>!! {{ error }} !!</h5>
                        </div>
                    {% endif %}
            <button class="button_login" type="submit" style="width:55%; padding:0.6rem; font-size: 1.2rem;"> Change password </button>
            <div class="text-muted">
            </div>
        </form>
    </div>
</main>
{% endblock %}
